<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatusUser</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>

    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <!-- <link rel="stylesheet" href="/css/dashboard.css"> -->
    <link rel="stylesheet" href="/css/statusAj.css">
    <link rel="stylesheet" href="/css/statusAj1.css">
    <link rel="stylesheet" href="/css/userstatus.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />

    <!-- material icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

    <body>

        <div class="container-fluid" id="container">
            <aside>
                <div class="top">
                    <div class="logo">
                        <img src="/assets/Borrowing 101 Education.png" alt="">
                    </div>
                </div>
                <div class="sidebar">
                    <a class="sidebarf" id="btnhome">
                        <span class="material-symbols-outlined">home</span>
                        <h3>HOME</h3>

                    </a>
                    <a class="sidebarf" id="btnstatus">
                        <span class="material-symbols-outlined">notifications</span>
                        <h3>STATUS</h3>
                    </a>

                    <a class="sidebarf" id="btnlogout">
                        <span class="material-symbols-outlined">logout</span>
                        <h3>LOG OUT</h3>
                    </a>
                </div>
            </aside>
            <main>
                <div class="container text-start mt-5">
                    <h1>SEARCH PRODUCT</h1>

                </div>
                <div class="  py-3 container ">
                </div>
                <div class="container-fluid">

                    <div class="">
                        <div class="container m-3">
                            <h1>Requirement</h1>
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div class="tablestatus">
                                            <h4 class="px-2 text-primary"><b>Pending</b></h4>
                                            <div class="row">
                                                <table class="table table-striped table-hover table-bordered"
                                                    style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>BorrowID</th>
                                                            <th>ItemName</th>
                                                            <th>Teacher</th>
                                                            <th>Borrowed date </th>
                                                            <th>returned date</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="pending"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container m-3">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div class="tablestatus">
                                            <h4 class="px-2 text-success"><b>Approved</b></h4>
                                            <div class="row">
                                                <table class="table table-striped table-hover table-bordered"
                                                    style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>BorrowID</th>
                                                            <th>ItemName</th>
                                                            <th>Teacher</th>
                                                            <th>Borrowed date </th>
                                                            <th>returned date</th>
                                                            <th>Annotation</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="Approved"></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container m-3">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div class="tablestatus">
                                            <h4 class="px-2 text-danger"><b>Disapproved</b></h4>
                                            <div class="row">
                                                <table class="table table-striped table-hover table-bordered"
                                                    style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>BorrowID</th>
                                                            <th>ItemName</th>
                                                            <th>Teacher</th>
                                                            <th>Borrowed date </th>
                                                            <th>returned date</th>
                                                            <th>Annotation</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="Disapproved"></tbody>
                                                </table>
                                                <div class="pagination d-flex justify-content-center"
                                                    id="pagination-container"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <script>
                    const tblpending = document.querySelector('#pending');
                    const tblApproved = document.querySelector('#Approved');
                    const tblDisapproved = document.querySelector('#Disapproved');



                    //------------------------------------- getUser -------------------------------------//
                    async function getUser() {
                        try {
                            const response = await fetch('/user');
                            if (response.ok) {
                                const data = await response.json();
                                // document.querySelector('#user').innerText = 'Welcome ' + data.username;
                                console.log(data);
                            }
                            else {
                                throw Error('Connection error');
                            }
                        } catch (err) {
                            console.error(err);
                            // alert(err.message);
                        }
                    };
                    //------------------------------------- getUser -------------------------------------//




                    //------------------------------------- log uot -------------------------------------//
                    function logout() {
                        bntsignout = document.querySelector('#btnlogout');
                        bntsignout.onclick = function () {
                            fetch('/logout', {
                                method: 'GET',
                                credentials: 'include' // Include credentials (cookies) in the request
                            })
                                .then(response => {
                                    if (response.ok) {
                                        // Redirect to the home page or login page after successful logout
                                        window.location.href = "/login";
                                    } else {
                                        console.error("Logout failed");
                                    }
                                })
                                .catch(error => {
                                    console.error("Error during logout:", error);
                                });
                        }
                    }
                    //------------------------------------- log uot -------------------------------------//



                    //--------------------------------- user req ---------------------------------//
                    let data = []; // Your array of data
                    let currentPage = 1;
                    const itemsPerPage = 20; // Set the number of items per page

                    const paginationContainer = document.getElementById('pagination-container');
                    async function userreq() {
                        try {
                            const response = await fetch('/getborrowrequirementuser');
                            if (response.ok) {
                                const json = await response.json();
                                data = json.requirement;
                                renderTable();
                            } else {
                                throw Error('Connection error');
                            }
                        } catch (err) {
                            console.error(err);
                        }
                    }

                    function createTable(startIndex, endIndex) {
                        let rowsdisapproved = '';
                        for (let i = startIndex; i < endIndex; i++) {
                            if (!data[i]) break; // Stop if there are no more items
                            const p = data[i];
                            if (p.bor_status == 'Disapproved') {
                                let disapprovedStatus = 'Disapproved';
                                rowsdisapproved += `<tr><td>${p.bor_id}</td>`;
                                rowsdisapproved += `<td>${p.pro_name}</td>`;
                                rowsdisapproved += `<td>${p.tec_name}</td>`;
                                rowsdisapproved += `<td>${new Date(p.bor_date).toLocaleDateString()}</td>`;
                                rowsdisapproved += `<td>${new Date(p.bor_ret_date).toLocaleDateString()}</td>`;
                                rowsdisapproved += `<td class="">${p.bor_annotation_teacher}</td>`;
                                rowsdisapproved += `<td class="text-danger">${disapprovedStatus}</td><tr>`;
                            }
                        }
                        console.log(tblApproved);
                        tblDisapproved.innerHTML = rowsdisapproved;
                    }

                    function handlePagination() {
                        const totalPages = Math.ceil(data.length / itemsPerPage);
                        paginationContainer.innerHTML = '';

                        for (let i = 1; i <= totalPages; i++) {
                            const button = document.createElement('button');
                            button.textContent = i;
                            button.setAttribute('class', 'btn btn-success m-2');
                            button.addEventListener('click', function () {
                                currentPage = parseInt(this.textContent);
                                renderTable();
                            });
                            paginationContainer.appendChild(button);
                        }
                    }

                    function renderTable() {
                        const startIndex = (currentPage - 1) * itemsPerPage;
                        const endIndex = startIndex + itemsPerPage;
                        createTable(startIndex, endIndex);
                        handlePagination();
                    }
                    //--------------------------------- user req ---------------------------------//




                    //--------------------------------- user req Approved  Pending---------------------------------//
                    async function userreqPA() {
                        try {
                            const response = await fetch('/getborrowrequirementuser');
                            if (response.ok) {
                                const json = await response.json();
                                data = json.requirement;
                                console.log(data);
                                let rowspending = '';
                                let rowsapproved = '';
                                let rowsdisapproved = '';
                                data.forEach(function (p) {
                                    if (p.bor_status == 'Approved') {
                                        rowsapproved += `<tr><td>${p.bor_id}</td>`;
                                        rowsapproved += `<td>${p.pro_name}</td>`;
                                        rowsapproved += `<td>${p.tec_name}</td>`;
                                        rowsapproved += `<td>${new Date(p.bor_date).toLocaleDateString()}</td>`;
                                        rowsapproved += `<td>${new Date(p.bor_ret_date).toLocaleDateString()}</td>`;
                                        rowsapproved += `<td class="">${p.bor_annotation_teacher}</td>`;
                                        rowsapproved += `<td class="text-success">Approved</td><tr>`;
                                    }
                                    else if (p.bor_status == 'pending') {
                                        rowspending += `<tr><td>${p.bor_id}</td>`;
                                        rowspending += `<td>${p.pro_name}</td>`;
                                        rowspending += `<td>${p.tec_name}</td>`;
                                        rowspending += `<td>${new Date(p.bor_date).toLocaleDateString()}</td>`;
                                        rowspending += `<td>${new Date(p.bor_ret_date).toLocaleDateString()}</td>`;
                                        rowspending += `<td class="text-primary">${p.bor_status}</td><tr>`;
                                    }

                                });
                                tblpending.innerHTML = rowspending;
                                tblApproved.innerHTML = rowsapproved;
                            }
                            else {
                                throw Error('Connection error');
                            }
                        } catch (err) {
                            console.error(err);
                        }
                    };
                    //--------------------------------- user req Approved  Pending---------------------------------//


                    function homeuser() {
                        bntsignout = document.querySelector('#btnhome');
                        bntsignout.onclick = function () {
                            window.location = '/homeuser'
                            localStorage.clear();
                        }
                    }
                    function userstatus() {
                        bntsignout = document.querySelector('#btnstatus');
                        bntsignout.onclick = function () {
                            window.location = '/userstatus'
                            localStorage.clear();
                        }
                    }

                    // Call functions on page load
                    getUser();
                    logout();
                    homeuser();
                    userreq();
                    userreqPA();

                </script>


    </body>

</html>