<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BS5 -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/public/css/home.css">

    <link rel="stylesheet" href="/public/css/dashboard.css">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>DashboardUser</title>
</head>
<style>

</style>

<body>

    <div class="container-fluid" id="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/assets/Borrowing 101 Education.png" alt="">
                </div>
            </div>
            <div class="sidebar">
                <a href="" class="active">
                    <span class="material-symbols-outlined">home</span>
                    <h3>Home</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">Search</span>
                    <h3>Search</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">add_box</span>
                    <h3>Add</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">notifications</span>
                    <h3>Status</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">history</span>
                    <h3>History</h3>
                </a>
                <a href="">
                    <span class="material-symbols-outlined">format_list_bulleted</span>
                    <h3>List</h3>
                </a>

                <a href="">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Log out</h3>
                </a>
            </div>
        </aside>
        <!-----------------end side bar -->
        <main>
            <h1>
                Dashboard
            </h1>
            <div class="insights">
                <div class="sport">
                    <span class="material-symbols-outlined">sports_tennis</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total borrow</h3>
                            <h1>30</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>60%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">ss</small>
                </div>
                <!-- ------------------end of sport -->
                <div class="tech">
                    <span class="material-symbols-outlined">laptop_chromebook</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total borrow</h3>
                            <h1>30</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>60%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">ss</small>
                </div>
                <!-- ------------------end of tech -->

                <div class="music">
                    <span class="material-symbols-outlined">music_note</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total borrow</h3>
                            <h1>30</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="number">
                                <p>60%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">ss</small>
                </div>
                <!-- ------------------end of Music -->


            </div>
            <!-- ------------------------end of insights -->
            <div class="space">
                <h2>
                    History
                </h2>
            </div>
            <div class="history">

                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product ID</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date</th>
                            <th scope="col">User ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </main>

        <div class="containerL">
            <div class="top">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary m-4">
                        Export
                    </button>
                </div>
            </div>
                <!-- //////////////end of top -->
            <div class="container">
                <h3 class="text-center">User Requests</h3>
                <div class="userreq">
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b>Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b>Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b>Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--------------------end of mid -->
            <div class="container">
                <h3 class="text-center m-4" id="overdue">List of Overdue </h3>
                <div class="userreq">
                    
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b class="text-danger">Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b class="text-danger">Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b class="text-danger">Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b class="text-danger">Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    <div class="updates">
                        <div class="update">
                            <div class="imguse">
                                <img src="/public/img/clover.png" alt="">
                            </div>
                            <div class="mess">
                                <p><b class="text-danger">Lorem</b> Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>


</body>

</html>