<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BS5 -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/public/css/home.css">

    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>EditStaff</title>
</head>
<style>

</style>

<body>

    <div class="container-fluid" id="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/public/img/Borrowing 101 Education.png" alt="">
                </div>
            </div>
            <div class="sidebar">
                <a href="/views/Project/dashboard.html" class="sidebarf" id="active">
                    <span class="material-symbols-outlined">home</span>
                    <h3>Home</h3>
                </a>
                <a href="/views/Project/staffsearch.html" class="sidebarf">
                    <span class="material-symbols-outlined">Search</span>
                    <h3>Search</h3>
                </a>
                <a href="/views/Project/Add_staff_html.html" class="sidebarf">
                    <span class="material-symbols-outlined">add_box</span>
                    <h3>Add</h3>
                </a>
                <a href="/views/Project/Edit_staff_html.html" class="sidebarf">
                    <span class="material-symbols-outlined">edit</span>
                    <h3>Edit</h3>
                </a>
                <a href="/views/Project/History_staff_html.html" class="sidebarf">
                    <span class="material-symbols-outlined">history</span>
                    <h3>History</h3>
                </a>
                <a href="/views/Project/List_staff_html.html" class="sidebarf">
                    <span class="material-symbols-outlined">format_list_bulleted</span>
                    <h3>List</h3>
                </a>

                <a href="/views/Project/login.html" class="sidebarf">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Log out</h3>
                </a>
            </div>
        </aside>
        <div class="container">
            <div class="profile col-auto float-end">
                <img src="/public/img/bogbag.jpg"
                    style="border-radius: 50%; width: 37px; height: 37px; border: 3px solid black;">
                <span class="ps-1 float-end"><b>Profile</b></span>
            </div>
            <h1 class="my-3"><b>Edit</b></h1>

            <div class="row">
                <div class="col-sm-4">
                    <div class="img">
                        <img src="/pubic/img/ios.jpg"
                            style="border-radius: 50%; width: 280px; height: 280px; border: 2px solid rgba(0, 0, 0, 0.519);">
                    </div>
                </div>
                <div class="col-sm-8 input_edit">
                    <h2 class="mb-4"><b>Name: <input type="text" class="mb-4" placeholder="Productname..."></b></h2>
                    <h2><b>ProductID: <input type="text" class="mb-4"></b></h2>
                    <h2 class="my-4"><b>Category: <input type="text" class="mb-4"></b></h2>
                    <h2 class="my-4"><b>Status: <input type="text" class="mb-4" p></b></h2>
                    <h2 class="my-4"><b>Infomation: <input type="text" class="mb-4" placeholder="XXXXXXXX...." p></b></h2>
                    <!-- <div class="container mt-5 rounded border border-2" id="box" style="background:#f5f7fa;">
                        <b>Infomation</b><input type="text" class="mb-4" p>
                        
                    </div> -->
                </div>
            </div>
            <div class="card shadow-2-strong mt-5 " style="background-color: #f5f7fa;">
                <table class="table table-borderless mb-0">

                    <thead>
                        <tr>
                          
                            
                            <th>Product name <i class="fas fa-caret-down"></i></th>
                            <th>Product code</th>
                            <th>Category <i class="fas fa-caret-down"></i></th>
                            <th>Status</th>
                            <th>information</th>

                        </tr>
                        <tr>
                           
                            <td>xxxxxx</td>
                            <td>xxxxxxxxxxx
                            </td>
                            <td>Technology</td>
                            <td>xxxxxx</td>
                            <td>xx/xx/xx - xx/xx/xx</td>

                        </tr>
                        <tr>
                           
                            <td>xxxxxx</td>
                            <td>xxxxxxxxxxx
                            </td>
                            <td>Technology</td>
                            <td>xxxxxx</td>
                            <td>xx/xx/xx - xx/xx/xx</td>

                        </tr>
                        <tr>
                           
                            <td>xxxxxx</td>
                            <td>xxxxxxxxxxx
                            </td>
                            <td>Technology</td>
                            <td>xxxxxx</td>
                            <td>xx/xx/xx - xx/xx/xx</td>

                        </tr>
                        <tr>
                           
                            <td>xxxxxx</td>
                            <td>xxxxxxxxxxx
                            </td>
                            <td>Technology</td>
                            <td>xxxxxx</td>
                            <td>xx/xx/xx - xx/xx/xx</td>

                        </tr>
                        <tr>
                           
                            <td>xxxxxx</td>
                            <td>xxxxxxxxxxx
                            </td>
                            <td>Technology</td>
                            <td>xxxxxx</td>
                            <td>xx/xx/xx - xx/xx/xx</td>

                        </tr>
                        <tr>
                           
                            <td>xxxxxx</td>
                            <td>xxxxxxxxxxx
                            </td>
                            <td>Technology</td>
                            <td>xxxxxx</td>
                            <td>xx/xx/xx - xx/xx/xx</td>

                        </tr>
                        <tr>
                           
                            <td>xxxxxx</td>
                            <td>xxxxxxxxxxx
                            </td>
                            <td>Technology</td>
                            <td>xxxxxx</td>
                            <td>xx/xx/xx - xx/xx/xx</td>

                        </tr>
                        
                       
                    </thead>
                </table>
            </div>
            <div class="btn_edit mt-5">
                <button class="btn btn-success">Update</button>
                <!-- <button class="btn btn-danger">Adjust</button> -->
            </div>


        </div>
        



</body>

</html>