<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeUser</title>
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">

</head>

<body>
    <div class="main container">
        <div class="row content">
            <div class="col-xs-2-4">
                <a href="#">
                    <div>
                        <div>
                            <div class="imgShow">
                                <div>
                                    <img src="https://via.placeholder.com/600/92c952" alt="">
                                </div>
                            </div>
                            <div class="detailShow">
                                <div class="topDetail"></div>
                                <div class="midDetail"></div>
                                <div class="butDetail"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-2-4">
                <a href="#">
                    <div>
                        <div>
                            <div class="imgShow">
                                <div>
                                    <img src="https://via.placeholder.com/600/92c952" alt="">
                                </div>
                            </div>
                            <div class="detailShow">
                                <div class="topDetail"></div>
                                <div class="midDetail"></div>
                                <div class="butDetail"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-2-4">
                <a href="#">
                    <div>
                        <div>
                            <div class="imgShow">
                                <div>
                                    <img src="https://via.placeholder.com/600/92c952" alt="">
                                </div>
                            </div>
                            <div class="detailShow">
                                <div class="topDetail"></div>
                                <div class="midDetail"></div>
                                <div class="butDetail"></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
</body>

</html>