<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BS5 -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <script src="/public/js/bootstrap.bundle.min.js"></script>

    <!-- stylesheet -->
    <link rel="stylesheet" href="/public/css/search1.2.css">

    <!-- material icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>SearchUser2</title>
</head>

<body>
    <div class="container-fluid" id="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="/public/img/Borrowing 101 Education.png" alt="">
                </div>
            </div>
            <div class="sidebar">
                <a href="/views/Project/home.html" class="sidebarf" id="active">
                    <span class="material-symbols-outlined">home</span>
                    <h3>Home</h3>
                </a>
                <a href="/views/Project/usersearch.html" class="sidebarf">
                    <span class="material-symbols-outlined">Search</span>
                    <h3>Search</h3>
                </a>
              
                <a href="/views/Project/statusUser.html" class="sidebarf">
                    <span class="material-symbols-outlined">notifications</span>
                    <h3>Status</h3>
                </a>
  
                <a href="/views/Project/login.html" class="sidebarf">
                    <span class="material-symbols-outlined">logout</span>
                    <h3>Log out</h3>
                </a>
            </div>
        </aside>
        <!-----------------end side bar -->

        <!-- ----------------- -->
        <div class="container">
            <nav class="navbar mt-3">
                <div class="container">
                    <div class="link col">
                        <a class="titlepage" href="index.html"><b>Search</b></a>
                        /
                        <a class="titlepage" href="input.html"><b>Product football</b></a>
                    </div>
                    <div class="profile col-auto">
                        <img src="/public/img/bogbag.jpg"
                            style="border-radius: 50%; width: 37px; height: 37px; border: 3px solid black;">
                        <span class="ps-1"><b>Profile</b></span>
                    </div>
                </div>
            </nav>

            <div class="row">
                <div class="Product_img">
                    <div class="img_style">
                        <img class="p-1" src="https://th.yamaha.com/th/files/02_FG9-R_684054cae48712b0f19c4291946b2f25.jpg?impolicy=resize&imwid=396&imhei=396"
                            style="border-radius:70%; width: 280px; height: 280px; border: 3px solid rgba(0, 0, 0, 0.519);">
                    </div>
                </div>

                <div class="name">
                    <h2 class="mb-4"><b>Name: </b></h2>
                    <h2><b>Category: </b></h2>
                    <div class="container mt-5" id="box">
                        <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                            making
                            this the first true generator on the Internet.</p>
                    </div>
                    <div id="btn">
                        <a class="btn btn-danger" href="/views/Project/usersearch.html">Back</a>
                        <a class="btn btn-success" href="/views/Project/search1.3.html">Borrow</a>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>